<div class="container price_container d-flex flex-column justify-content-around align-items-center">
    <div class="row">
        <div class="col">
            <div class="card price" style="width: 18em;">
                <img src="{{price.imagen}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">{{price.nombre}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Canjear</a>
            </div>
        </div>
    </div>
</div>