<div class="container-fluid price_container d-flex flex-column justify-content-around align-items-center" style="background-image: url('{{reward.image}}');"> 
    <div class="row w-100">
        <div class="col price d-flex flex-column justify-content-around align-items-center">
            <div class="row h-25">
                <div class="col d-flex justify-content-center align-items-end">
                    <h2 class="m-0 fs-2">{{reward.name}}</h2>
                </div>
            </div>
            <div class="row h-50 w-75">
                <div class="col d-flex justify-content-center align-items-center">
                    <p class="m-0">{{reward.description}}</p>
                </div>
            </div>
            <div class="row h-25 w-75">
                <div class="col d-flex justify-content-center align-items-center">
                    <button class="price_button w-100 fs-4 btn btn-primary">Canjear</button>
                </div>
            </div>
        </div>
    </div>
</div>