
<div class="custom-cont">
  <nav class="navbar navbar-dark bg-dark ">
    <div class="title">
        <h1 class="h1 text-primary">Atención al cliente</h1>
    </div>
  </nav>


  <div class="container mt-3">
    <div class="container-table">
      <div class="card-table">
        <div class="card-row">
          <div class="card">
            <h5 class="card-header">Queja Nº1 / Enviada a las: 13:45</h5>
            <div class="card-body">
              <h5 class="card-title">Patatas frias</h5>
              <p class="card-text">Con texto de apoyo a continuación como introducción natural a contenido adicional.</p>
              <a routerLink="/customerSupport-answer-shared" class="btn btn-primary">Contestar</a>
            </div>
          </div>
        </div>
        <div class="card-row">
          <div class="card">
            <h5 class="card-header">Queja Nº2 / Enviada a las: 13:45</h5>
            <div class="card-body">
              <h5 class="card-title">Pollo crudo</h5>
              <p class="card-text">Con texto de apoyo a continuación como introducción natural a contenido adicional.</p>
              <a routerLink="/customerSupport-answer-shared" class="btn btn-primary">Contestar</a>
            </div>
          </div>
        </div>
        <div class="card-row">
          <div class="card">
            <h5 class="card-header">Queja Nº3 / Enviada a las: 13:45</h5>
            <div class="card-body">
              <h5 class="card-title">El plato no corresponde a mi pedido</h5>
              <div class="custom-parameters">
                <p class="card-text">Con texto de apoyo a continuación como introducción natural a contenido adicional.</p>
                <a routerLink="/customerSupport-answer-shared" class="custom-btn btn btn-primary">Contestar</a>
              </div>
            </div>
          </div>
        </div>
              <div class="card-row">
          <div class="card">
            <h5 class="card-header">Queja Nº1 / Enviada a las: 13:45</h5>
            <div class="card-body">
              <h5 class="card-title">Patatas frias</h5>
              <p class="card-text">Con texto de apoyo a continuación como introducción natural a contenido adicional.</p>
              <a routerLink="/customerSupport-answer-shared" class="btn btn-primary">Contestar</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="table-bootom d-flex flex-column flex-md-row justify-content-between">
        <div class="table-bootom-right d-flex flex-column flex-md-row order-md-2">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-light">Anterior</button>
                <button type="button" class="btn btn-primary">1</button>
                <button type="button" class="btn btn-light">Siguiente</button>
            </div>
        </div>
        <div class="table-bootom-leaft mb-2 mb-md-0 order-md-1 mt-4 mt-md-2">Mostrando del 1 al 5 de un total de 5 registros</div>
    </div> 
    </div>
  </div>
</div>