body{
    background:#eee;    
    }

    .custom-cont{
        background-image: url(../../../../assets/background-admin.png);
        border-radius: 10px;
        height: 100%;

    }
    
    .card-box {
        position: relative;
        color: #fff;
        padding: 280px 10px 40px;
        margin: 20px 0px;
    }
    .card-box:hover {
        text-decoration: none;
        color: #f1f1f1;
    }
    .card-box:hover .icon i {
        font-size: 100px;
        transition: 1s;
        -webkit-transition: 1s;
    }
    .card-box .inner {
        padding: 5px 10px 0 10px;
    }
    .card-box h3 {
        font-size: 29px;
        font-weight: bold;
        margin: 0 0 8px 0;
        white-space: nowrap;
        padding: 0;
        text-align: left;
    }
    .card-box p {
        font-size: 15px;
    }
    .card-box .icon {
        position: absolute;
        top: auto;
        bottom: 5px;
        right: 5px;
        z-index: 0;
        font-size: 72px;
        color: rgba(0, 0, 0, 0.15);
    }
    .card-box .card-box-footer {
        position: absolute;
        left: 0px;
        bottom: 0px;
        text-align: center;
        padding: 3px 0;
        color: rgba(255, 255, 255, 0.8);
        background: rgba(0, 0, 0, 0.1);
        width: 100%;
        text-decoration: none;
    }
    .card-box:hover .card-box-footer {
        background: rgba(0, 0, 0, 0.3);
    }
    .bg-blue {
        background-color: #003366 !important;
    }
    .bg-green {
        background-color: #2ECC71 !important;
    }
    .bg-purple {
        background-color: #8E44AD !important;
    }

    .bg-orange {
        background-color: #FFA500 !important;
    }

    .bg-yellow {
        background-color: #FFD700 !important;
    }

    .bg-red {
        background-color: #8B0000 !important;
    }
