body{
    background:#eee;    
    }

    .custom-cont{
        background-image: url(../../../../assets/background4.jpg);
        border-radius: 10px;
        height: 100%;

    }
    
    .card-box {
        position: relative;
        color: #fff;
        padding: 280px 10px 40px;
        margin: 20px 0px;
    }
    .card-box:hover {
        text-decoration: none;
        color: #f1f1f1;
    }
    .card-box:hover .icon i {
        font-size: 100px;
        transition: 1s;
        -webkit-transition: 1s;
    }
    .card-box .inner {
        padding: 5px 10px 0 10px;
    }
    .card-box h3 {
        font-size: 29px;
        font-weight: bold;
        margin: 0 0 8px 0;
        white-space: nowrap;
        padding: 0;
        text-align: left;
    }
    .card-box p {
        font-size: 15px;
    }
    .card-box .icon {
        position: absolute;
        top: auto;
        bottom: 5px;
        right: 5px;
        z-index: 0;
        font-size: 72px;
        color: rgba(0, 0, 0, 0.15);
    }
    .card-box .card-box-footer {
        position: absolute;
        left: 0px;
        bottom: 0px;
        text-align: center;
        padding: 3px 0;
        color: rgba(255, 255, 255, 0.8);
        background: rgba(0, 0, 0, 0.1);
        width: 100%;
        text-decoration: none;
    }
    .card-box:hover .card-box-footer {
        background: rgba(0, 0, 0, 0.3);
    }

    .card-box-color1 {
        background-image: url('../../../../assets/datos.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        opacity: 0.8; /* Controla la opacidad del fondo */

}

    .card-box-color1::after {
        content: "";
        background-color: rgba(5, 56, 107, 0.781); /* Color de fondo con opacidad */
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        z-index: -1; /* Coloca el fondo detrás del contenido */
    }


    .card-box-color2 {
        background-image: url('../../../../assets/atencion.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        opacity: 0.8; /* Controla la opacidad del fondo */

}

    .card-box-color2::after {
        content: "";
        background-color: #2b794c8f;
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        z-index: -1; /* Coloca el fondo detrás del contenido */
    }



    .card-box-color3 {
        background-image: url('../../../../assets/usuarios.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        opacity: 0.8; /* Controla la opacidad del fondo */

}

    .card-box-color3::after {
        content: "";
        background-color: #8435a5b0;
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        z-index: -1; /* Coloca el fondo detrás del contenido */
    }



    .card-box-color4 {
        background-image: url('../../../../assets/cocinero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        opacity: 0.8; /* Controla la opacidad del fondo */

}

    .card-box-color4::after {
        content: "";
        background-color: #6b4807a8 ;
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        z-index: -1; /* Coloca el fondo detrás del contenido */
    }



    .card-box-color5 {
        background-image: url('../../../../assets/premios.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        opacity: 0.8; /* Controla la opacidad del fondo */

}

    .card-box-color5::after {
        content: "";
        background-color: #570b0598 ;
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        z-index: -1; /* Coloca el fondo detrás del contenido */
    }







