<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-blue">
                <div class="inner">
                    <h3> Información y análisis </h3>
                    <p> Datos que guían </p>
                </div>
                <div class="icon">
                    <i class="bi bi-bar-chart-fill"></i>
                </div>
                <a href="#" class="card-box-footer">Ver Más <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-green">
                <div class="inner">
                    <h3> Atención al cliente</h3>
                    <p> Siempre aquí para ti </p>
                </div>
                <div class="icon">
                    <i class="bi bi-headset"></i>
                </div>
                <a href="#" class="card-box-footer">Ver Más <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-purple">
                <div class="inner">
                    <h3> Gestión de usuarios </h3>
                    <p> Controla con facilidad </p>
                </div>
                <div class="icon">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <a routerLink="/usrManagement-list-admin" class="card-box-footer">Ver Más <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-orange">
                <div class="inner">
                    <h3> Gestión de Platos </h3>
                    <p> Sabores excepcionales </p>
                </div>
                <div class="icon">
                    <i class="bi bi-egg-fried"></i>
                </div>
                <a href="#" class="card-box-footer">Ver Más <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-yellow">
                <div class="inner">
                    <h3> Gestión de Pedidos </h3>
                    <p> Ordena sin problemas </p>
                </div>
                <div class="icon">
                    <i class="bi bi-bag-check-fill"></i>
                </div>
                <a href="#" class="card-box-footer">Ver Más <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-red">
                <div class="inner">
                    <h3> Gestión de Premios </h3>
                    <p> Premios que brillan </p>
                </div>
                <div class="icon">
                    <i class="bi bi-trophy-fill"></i>
                </div>
                <a href="#" class="card-box-footer">Ver Más <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>
