<div class="container-fluid">
    <div class="row">
        <div class="col-2 p-0">
            <app-sidebar-admin></app-sidebar-admin>
        </div>
        <div class="col-10 content">
            <div class="custom-cont">
                <nav class="navbar navbar-dark bg-dark">
                    <div class="title">
                        <h1 class="h1" style="color: #c7d5e0;">Gestión de Platos</h1>
                    </div>
                </nav>
                <div class="container mt-3 full-height d-flex align-items-center">
                    <div class="cont-form col-xl-7 col-lg-11 col-md-11 col-xs-2">
                        <h1>Añadir Nuevo Plato</h1>
                        <br><br>
                        <form (ngSubmit)="crearPlato()">

                            <div class="form-group row">
                                <legend class="col-form-label col-sm-2">Categoria</legend>
                                <div class="parametros col-sm-3">
                                    <select class="form-select" aria-label="Default select example" [(ngModel)]="nuevoPlato.category.id" name="roleId" [ngModelOptions]="{ standalone: true }">
                                        <option [ngValue]="1">Primeros</option>
                                        <option [ngValue]="2">Segundos</option>
                                        <option [ngValue]="3">Entrantes</option>
                                        <option [ngValue]="4">Postres</option>
                                        <option [ngValue]="5">Bebidas</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
                                <div class="parametros col-sm-8">
                                    <input type="text" class="form-control" id="inputNombre" name="name" [(ngModel)]="nuevoPlato.name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPuntos" class="col-sm-2 col-form-label">Precio</label>
                                <div class="parametros col-sm-8">
                                    <input type="number" class="form-control" id="inputPuntos" name="points" [(ngModel)]="nuevoPlato.cost">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputApellidos" class="col-sm-2 col-form-label">Imagen</label>
                                <div class="parametros col-sm-8">
                                    <input type="file" class="custom-file-input" id="fileInput" aria-describedby="fileInput">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-2 col-form-label">Descripción</label>
                                <div class="parametros col-sm-8">
                                    <textarea rows="10" type="email" class="form-control" id="inputEmail" name="email" [(ngModel)]="nuevoPlato.description"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Añadir Nuevo Plato</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
