<div class="container-fluid vh-100">
    <div class="row h-100 d-flex justify-content-around align-items-center">
        <div class="col-xxl-4 h-50 pt-2 d-flex flex-column justify-content-around align-items-center border">
            <h2 class="d-flex justify-content-center align-items-center">Para empezar</h2>
            <a href="" class="h-75 w-100 border">
                <div class="">

                </div>
            </a>
        </div>
        <div class="col-xxl-4 offset-xxl-1 h-50 pt-2 d-flex flex-column justify-content-around align-items-center border">
            <h2 class="text-center">Esto te va a gustar</h2>
            <a href="" class="h-75 w-100 border">
                <div class="">

                </div>
            </a>
        </div>
        <div class="col-xxl-4 h-50 pt-2 d-flex flex-column justify-content-around align-items-center border">
            <h2 class="text-center">Nuestros destacados</h2>
            <a href="" class="h-75 w-100 border">
                <div class="">

                </div>
            </a>
        </div>
        <div class="col-xxl-4 offset-xxl-1 h-50 pt-2 d-flex flex-column justify-content-around align-items-center border">
            <h2 class="text-center">¿Te apetece algo dulce?</h2>
            <a href="" class="h-75 w-100 border">
                <div class="">

                </div>
            </a>
        </div>
    </div>
</div>