.reward_container, .reward{

    height: 28vh;
}

.reward_container{

    border-radius: 0.5em;
    
    background-position: center;
    background-size: cover;

    color:white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reward{

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 20%, rgba(197, 197, 197, 0.2) 90%);

    border-radius: 0.3em;
}