.home_dish{

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 15%, rgba(255, 255, 255, 0.1) 90%), url(../../../../assets/croquetas.jpg);
    background-size: cover;
    background-repeat: none;
    
    border-radius: 0.3em;
}

.dishes{

    height: 10vh;
}

.button_finished{

    border-radius: 0.3em;
    border: none;
    background: none;
}

.finished{

    max-height: 80px;
}

.order{

    overflow-y: scroll;
}

.order::-webkit-scrollbar{

    width: 0;
    display: none;
}
.dish-name{
    font-size: 25px;
    color: white;
    text-shadow: rgb(0, 0, 0) 4px 0 10px;
}
.prueba{
    background-color: red;
}