<!-- <div *ngIf="isHome" class="container-fluid">
    <div class="row h-100"> 
        <div class="col-12 mb-2 menus" *ngFor="let dish of recommended_dishes; let i = index">
            <app-user-dish *ngIf="recommended" [dish]="dish" [isHome] = "true" [index] = "i"></app-user-dish>
        </div>
        <div class="col-12 mb-2 menus" *ngFor="let dish of suggested_dishes; let i = index">
            <app-user-dish *ngIf="suggested" [dish]="dish" [isHome] = "true" [index] = "i"></app-user-dish>
        </div>
        <div class="col-12 mb-2 menus" *ngFor="let dish of highlighted_dishes; let i = index">
            <app-user-dish *ngIf="highlighted" [dish]="dish" [isHome] = "true" [index] = "i"></app-user-dish>
        </div>
    </div>
</div> -->
<div *ngIf="(!isHome) && (category == 1)" class="container-fluid d-flex justify-content-around align-items-start dish_selection">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12" *ngFor="let dish of firsts; let i = index">
            <app-user-dish [dish]="dish" [isHome] = "false" [index] = "i"></app-user-dish>
        </div>
    </div>
</div>
<div *ngIf="(!isHome) && (category == 2)" class="container-fluid d-flex justify-content-around align-items-start dish_selection">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12" *ngFor="let dish of seconds; let i = index">
            <app-user-dish [dish]="dish" [isHome] = "false" [index] = "i"></app-user-dish>
        </div>
    </div>
</div>
<div *ngIf="(!isHome) && (category == 3)" class="container-fluid d-flex justify-content-around align-items-start dish_selection_small">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12" *ngFor="let dish of starters; let i = index">
            <app-user-dish [dish]="dish" [isHome] = "false" [index] = "i"></app-user-dish>
        </div>
    </div>
</div>
<div *ngIf="(!isHome) && (category == 4)" class="container-fluid d-flex justify-content-around align-items-start dish_selection_small">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12" *ngFor="let dish of desserts; let i = index">
            <app-user-dish [dish]="dish" [isHome] = "false" [index] = "i"></app-user-dish>
        </div>
    </div>
</div>
<div *ngIf="(!isHome) && (category == 5)" class="container-fluid d-flex justify-content-around align-items-start dish_selection_small">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12" *ngFor="let dish of drinks; let i = index">
            <app-user-dish [dish]="dish" [isHome] = "false" [index] = "i"></app-user-dish>
        </div>
    </div>
</div>