.info-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #000;
  }
  .dish-image {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    max-height: 50px;
    margin: 5px;
  }