<div class="info-container">
    <div class="dish-image">
      <img [src]="dish.image" alt="Imagen del plato">
    </div>
    <button *ngIf="!editMode" (click)="editDish()">Editar</button>
  
    <form *ngIf="editMode" (submit)="saveDish()">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="editedDish.nombre" required>
      
      <label for="resumen">Resumen:</label>
      <textarea id="resumen" name="resumen" [(ngModel)]="editedDish.resumenReceta" required></textarea>
  
      <label for="ingredientes">Ingredientes:</label>
      <textarea id="ingredientes" name="ingredientes" [(ngModel)]="editedDish.ingredientes" required></textarea>
  
      <label for="alergenos">Alergenos:</label>
      <textarea id="alergenos" name="alergenos" [(ngModel)]="editedDish.alergenos" required></textarea>
      
      <button type="submit">Guardar</button>
      <button type="button" (click)="cancelEdit()">Cancelar</button>
    </form>
  
    <h3>Ingredientes:</h3>
    <ul>
      <li *ngFor="let ingrediente of (editMode ? editedDish.ingredientes : dish.ingredientes)">{{ ingrediente }}</li>
    </ul>
    <h3>Alergenos:</h3>
    <ul>
      <li *ngFor="let alergeno of (editMode ? editedDish.alergenos : dish.alergenos)">{{ alergeno }}</li>
    </ul>
    <p>Descripción: {{ editMode ? editedDish.resumenReceta : dish.resumenReceta }}</p>
  </div>
  