

<div class="container-fluid">
  <div class="row">
      <div class="col-2 p-0">
          <app-sidebar-admin></app-sidebar-admin>
      </div>
      <div class="col-10 content">
        <nav class="navbar navbar-dark bg-dark ">
          <div class="title">
              <h1 class="h1 " style="color: #c7d5e0;">Información y Análisis</h1>
          </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
              <main class="col-md-12 ms-sm-auto "><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h1 class="h2">Tendencias</h1>
                  <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Comparte</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Exporta</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                      Esta semana
                    </button>
                  </div>
                </div>
                <div class="simple-bar-chart ">
                  
                  <div class="item" style="--clr: #0056ab; --val: 80">
                    <div class="label">Ensalada mixta</div>
                    <div class="value">80%</div>
                  </div>
                  
                  <div class="item" style="--clr: #0056ab; --val: 50">
                    <div class="label">Ensalada mixta</div>
                    <div class="value">50%</div>
                  </div>
                  
                  <div class="item" style="--clr: #0056ab; --val: 100">
                    <div class="label">Ensalada mixta</div>
                    <div class="value">100%</div>
                  </div>
                  
                  <div class="item" style="--clr: #0056ab; --val: 15">
                    <div class="label">Ensalada mixta</div>
                    <div class="value">15%</div>
                  </div>
                  
                  <div class="item" style="--clr: #0056ab; --val: 1">
                    <div class="label">Ensalada mixta</div>
                    <div class="value">1%</div>
                  </div>
                  
                  <div class="item" style="--clr: #0056ab; --val: 90">
                    <div class="label">Ensalada mixta</div>
                    <div class="value">90%</div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <h2>Gestión de pedidos</h2>
        <hr>
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td>Total de pedidos</td>
                          <td></td>
                          <td>36</td>
                        </tr>
                        <tr>
                          <td>Nº1</td>
                          <td>Ensalada mixta</td>
                          <td>20</td>
                        </tr>
                        <tr>
                          <td>Nº2</td>
                          <td>Ensalada mixta</td>
                          <td>12</td>
                        </tr>
                        <tr>
                          <td>Nº3</td>
                          <td>Ensalada mixta</td>
                          <td>4</td>
                        </tr>
                        <tr>
                          <td>Nº4</td>
                          <td>Ensalada mixta</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <td>Nº5</td>
                          <td>Ensalada mixta</td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <td>Nº6</td>
                          <td>Ensalada mixta</td>
                          <td>1</td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <h2>Atención al cliente</h2>
                    <hr>
        
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td>Queja Nº1 / Enviada a las: 13:45</td>
                          <td></td>
                          <td>
                            <button routerLink="/" type="button" class="btn btn-success">
                            <i class="bi bi-chat-dots"></i>
                            </button></td>
                        </tr>
                        <tr>
                          <td>Queja Nº2 / Enviada a las: 13:45</td>
                          <td></td>
                          <td>                 
                            <button routerLink="/" type="button" class="btn btn-success">
                            <i class="bi bi-chat-dots"></i>
                            </button></td>
                        </tr>
                        <tr>
                          <td>Queja Nº3 / Enviada a las: 13:45</td>
                          <td></td>
                          <td>
                            <button routerLink="/" type="button" class="btn btn-success">
                              <i class="bi bi-chat-dots"></i>
                              </button>
                          </td>
                        </tr>
                        <tr>
                          <td>Queja Nº4 / Enviada a las: 13:45</td>
                          <td></td>
                          <td>
                            <button routerLink="/" type="button" class="btn btn-success">
                              <i class="bi bi-chat-dots"></i>
                              </button>
                          </td>
                        </tr>
                        <tr>
                          <td>Queja Nº5 / Enviada a las: 13:45</td>
                          <td></td>
                          <td>
                            <button routerLink="/" type="button" class="btn btn-success">
                              <i class="bi bi-chat-dots"></i>
                              </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </main>
            </div>
          </div>    
      </div>
  </div>
</div>
