<div class="container-fluid inicio_container h-100">
    <div class="row h-100">
        <div class="col-xxl-3 col-xl-4 col-lg-6 h-100">
            <div class="row h-100 d-flex flex-column justify-content-around align-items">
                <div class="col-12 imagenPlato"></div>
                <div class="col-12 panelIngredientes">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tituloIngredientes">Ingredientes</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="ingrediente">125 g. de harina de trigo</h6>
                        </div>
                        <div class="col-6">
                            <h6 class="ingrediente">1 litro de leche entera</h6>
                        </div>
                        <div class="col-6">
                            <h6 class="ingrediente">125 g. de mantequilla</h6>
                        </div>
                        <div class="col-6">
                            <h6 class="ingrediente">1 pizca de nuez moscada</h6>
                        </div>
                        <div class="col-6">
                            <h6 class="ingrediente">Sal y pimienta negra</h6>
                        </div>
                        <div class="col-6">
                            <h6 class="ingrediente">Para el relleno de las croquetas: 1 cebolleta</h6>
                        </div>
                        <div class="col-6">
                            <h6 class="ingrediente">125 g. de harina de trigo</h6>
                        </div>
                        <div class="col-6">
                            <h6 class="ingrediente">1 litro de leche entera</h6>
                        </div>
                        <div class="col-6">
                            <h6 class="ingrediente">125 g. de mantequilla</h6>
                        </div>
                        <div class="col-6">
                            <h6 class="ingrediente">1 pizca de nuez moscada</h6>
                        </div>
                        <div class="col-6">
                            <h6 class="ingrediente">Sal y pimienta negra</h6>
                        </div>
                        <div class="col-6">
                            <h6 class="ingrediente">Para el relleno de las croquetas: 1 cebolleta</h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 panelAlergenos">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tituloIngredientes">Alergenos</h2>
                        </div>
                        <div class="row">
                            <div class="col-6"><h6 class="alergeno"><img src="../../assets/leche.png" class="alergenoIMG"> ENSALADA MIXTA</h6></div>
                            <div class="col-6"><h6 class="alergeno"><img src="../../assets/leche.png" class="alergenoIMG"> ENSALADA MIXTA</h6></div>
                            <div class="col-6"><h6 class="alergeno"><img src="../../assets/leche.png" class="alergenoIMG"> ENSALADA MIXTA</h6></div>
                            <div class="col-6"><h6 class="alergeno"><img src="../../assets/leche.png" class="alergenoIMG"> ENSALADA MIXTA</h6></div>
                            <div class="col-6"><h6 class="alergeno"><img src="../../assets/leche.png" class="alergenoIMG"> ENSALADA MIXTA</h6></div>
                            <div class="col-6"><h6 class="alergeno"><img src="../../assets/leche.png" class="alergenoIMG"> ENSALADA MIXTA</h6></div>
                            <div class="col-6"><h6 class="alergeno"><img src="../../assets/leche.png" class="alergenoIMG"> ENSALADA MIXTA</h6></div>
                            <div class="col-6"><h6 class="alergeno"><img src="../../assets/leche.png" class="alergenoIMG"> ENSALADA MIXTA</h6></div>
                        </div>
                    </div>
                </div>
                        </div>
                    </div>
        <div class="col-xxl-9 col-xl-8 col-lg-6 h-100 d-flex flex-column justify-content-around align-items-center">
            <div class="row h-100 d-flex flex-column justify-content-around align-items">
            <div class="tituloResumen col-12">
                <h2 class="tituloPlato">Croquetas de pollo</h2>
            <div class="resumenPlato">
                <p>Para el relleno he aprovechado un par de pechugas de pollo sobrantes, que había preparado a la plancha. Las cortamos en dados pequeños, a vuestro gusto. Pero que no sean demasiado grandes.
                Picamos la cebolleta en brunoise fina, y la sofreímos 5 minutos (a fuego medio) en una sartén, con un poco de aceite de oliva virgen extra. Añadimos el pollo picado, mezclamos y salpimentamos al gusto. Cocinamos  un par de minutos todo junto. Retiramos y reservamos.
                Ahora vamos con la bechamel, una de las claves de unas croquetas bien sabrosas. Hecha la bechamel, en frío, añadimos el relleno reservado y mezclamos bien. Removemos en círculos, para que quede una mezcla homogénea y sin grumos.
                Engrasamos una fuente con mantequilla y espolvoreamos la base con harina. Echamos la masa de las croquetas, la extendemos y tapamos con un film transparente. Otro truco es untar con mantequilla la superficie, es decir untar con mantequilla a temperatura ambiente. Así hará de película protectora de nuestra masa de croquetas y de este modo nos e os resecará o oxidará la superficie mientras reposa en frío.</p>
            </div>
            <button class="btn btn-primary boton_pedido">
                <h6>Atrás</h6>
            </button>
        </div>
    </div>
    
</div>
</div>

</div>