
<div class="custom-sidebar  d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 bg-dark ">
    <img class="jet-image" src="../../../../assets/jetxperience.png" alt="">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">Hola Admin</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li>
            <a class="nav-link px-0 align-middle" routerLink="/dashboard-admin">
                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
        </li>
        <li>
            <a routerLink="/analysis-list-admin" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-clipboard-data"></i> <span class="ms-1 d-none d-sm-inline">Información y Análisis</span> </a>
        </li>
        <li>
            <a class="nav-link px-0 align-middle" routerLink="/customerSupport-list-shared">
                <i class="fs-4 bi-person-exclamation"></i> <span class="ms-1 d-none d-sm-inline">Atención al cliente</span> </a>
        </li>
        <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Gestionar</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                <li class="w-100">
                    <a routerLink="/usrManagement-list-admin" class="nav-link px-0"> <span class="d-none d-sm-inline">Usuarios </span><i class="bi bi-people"></i></a>
                </li>
                <li>
                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Platos </span> <i class="bi bi-cup-hot"></i></a>
                </li>
                <li>
                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Pedidos </span> <i class="bi bi-list-ol"></i></a>
                </li>
                <li>
                    <a routerLink="/rewarmanagement-musr-admin" class="nav-link px-0"> <span class="d-none d-sm-inline">Premios </span> <i class="bi bi-trophy"></i></a>
                </li>
            </ul>
        </li>
    </ul>
    <hr>
    <div class="dropdown pb-4">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li>
                <a routerLink="/profile-admin" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-person-circle"></i> <span class="ms-1 d-none d-sm-inline">Perfil</span> </a>
            </li>
            <li>
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-door-open"></i> <span class="ms-1 d-none d-sm-inline">Cerrar Sessión</span> </a>
            </li>
        </ul>
    </div>
</div>

