.logo_gc{

    height: 10vh;
}

.sidebar_menu_options{

    height: 20vh;
}

.menu_option{

    color: #0052AB;
}

.cart{

    height: 40vh;
    overflow-y: auto;
}

.total{

    height: 10vh;
}

.cart::-webkit-scrollbar{
    
    width: 0;
    display: none;
}

.dish_ordered{

    height: 6vh;
    border-bottom: 0.1em solid black;
}

.dish_ordered:first-child{

    border-top: 0.1em solid black;
}

.price{

    background-color: #0052AB;
}

.dish_cancel{

    color: red;
    font-weight: bold;
    font-size: larger;
}

.checkout{

    height: 5vh;

    background-color: #0052AB;

    border: none;
}

.logout{

    height: 1vh;
}