<!-- <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <app-sidebar-admin></app-sidebar-admin>
        </div>
        <div class="col py-3">
            <router-outlet></router-outlet>
        </div> 
    </div>
</div> -->
<div *ngIf="logged_in" class="container-fluid">
    <div class="row d-flex">
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div *ngIf="!logged_in" class="container-fluid">
    <div class="row">
        <div class="col-2">
            <!-- Sidebar Usuario -->
            <!-- <app-user-sidebar></app-user-sidebar> -->
            <!-- Sidebar Admin -->
            <app-sidebar-admin></app-sidebar-admin>
            <!-- Sidebar Admin -->
            <!-- <app-sidebar-cook></app-sidebar-cook> -->
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>