.user_sidebar{

    height: 100vh;
}

/* Preguntar qué les parece mejor, que haya marco, o no (mirar user-navbar, clase row_user_navbar */
.user_navbar{

    background-color: #0052AB;
}

.user_navbar:hover{

    overflow: hidden;
}

.user_content{

    height: 100vh;

    overflow-y: auto;
}

.user_content::-webkit-scrollbar{

    width: 0;
    display: none;
}