<div class="container-fluid vh-100">
    <div class="row h-100 d-flex justify-content-around align-items-center">
        <div *ngIf="!adding_first" class="col-xl-4 col-lg-6 h-50 d-flex flex-column justify-content-around align-items-center">
            <h2 class="h-25 m-0 d-flex justify-content-center align-items-start">Añade un primero</h2>
            <div class="w-75 w-xxl-100 d-flex justify-content-center align-items-center add_dish" (click)="this.adding_first = true">
                <i class="fs-1 bi bi-plus-circle-fill add_icon"></i>
            </div>
        </div>
        <div *ngIf="adding_first" class="col-xl-4 col-lg-6 d-flex flex-column justify-content-around align-items-center">
            <h2 class="m-0">Añade un primero</h2>
            <div class="w-100 w-xxl-100 adding_dish">
                <app-dish-selector [category] = "1"></app-dish-selector>
            </div>
        </div>
        <div *ngIf="!adding_second" class="col-xl-4 col-lg-6 h-50 d-flex flex-column justify-content-around align-items-center">
            <h2 class="h-25 m-0">Añade un segundo</h2>
            <div class="w-75 w-xxl-100 d-flex justify-content-center align-items-center add_dish"(click)="this.adding_second = true">
                <i class="fs-1 bi bi-plus-circle-fill add_icon"></i>
            </div>
        </div>
        <div *ngIf="adding_second" class="col-xl-4 col-lg-6 d-flex flex-column justify-content-around align-items-center">
            <h2 class="m-0">Añade un segundo</h2>
            <div class="w-100 w-xxl-100 adding_dish">
                <app-dish-selector [category] = "2"></app-dish-selector>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12 h-100 pt-5 d-flex justify-content-center align-items-center">
            <div class="row h-100 w-100 w-xxl-75 d-flex justify-content-between align-items-center">
                <div *ngIf="!adding_starter" class="h-25 h-xl-50 w-100 col-4">
                    <h2 class="m-0 w-100 pb-2 d-flex justify-content-center align-items-center">Añade un entrante</h2>
                    <div class="h-75 d-flex justify-content-center align-items-center add_dish" (click)="this.adding_starter = true">
                        <i class="fs-1 bi bi-plus-circle-fill add_icon"></i>
                    </div>
                </div>
                <div *ngIf="adding_starter" class="h-25 h-xl-50 w-100 col-4">
                    <h2 class="text-center">Añade un entrante</h2>
                    <app-dish-selector [category] = "3" [small_dish] = "true"></app-dish-selector>
                </div>
                <div *ngIf="!adding_dessert" class="h-25 h-xl-50 w-100 col-4">
                    <h2 class="m-0 pb-2 d-flex justify-content-center align-items-center">Añade un postre</h2>
                    <div class="h-75 d-flex justify-content-center align-items-center add_dish" (click)="this.adding_dessert = true">
                        <i class="fs-1 bi bi-plus-circle-fill add_icon"></i>
                    </div>
                </div>
                <div *ngIf="adding_dessert" class="h-25 h-xl-50 w-100 col-4">
                    <h2 class="text-center">Añade un postre</h2>
                    <app-dish-selector [category]= "4" [small_dish] = "true"></app-dish-selector>
                </div>
                <div *ngIf="!adding_drink" class="h-25 h-xl-50 w-100 col-4">
                    <h2 class="m-0 pb-2 d-flex justify-content-center align-items-center">Añade una bebida</h2>
                    <div class="h-75 d-flex justify-content-center align-items-center add_dish" (click)="this.adding_drink = true">
                        <i class="fs-1 bi bi-plus-circle-fill add_icon"></i>
                    </div>
                </div>
                <div *ngIf="adding_drink" class="h-25 h-xl-50 w-100 col-4">
                    <h2 class="text-center">Añade una bebida</h2>
                    <app-dish-selector [category]= "5" [small_dish] = "true"></app-dish-selector>
                </div>
            </div>
        </div>
    </div>
</div>