<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col vh-100 d-flex flex-column justify-content-center align-items-center">
            <div class="h-50 d-flex flex-column justify-content-center align-items-center">
                <div class="imagen_gc">
                    <img class="m-3" src="../../assets/logo_gc.svg" alt="">
                </div>
                <div class="d-flex flex-column justify-content-around align-items-center">
                    <input class="mb-1 text-center login_input" type="text" placeholder="E-mail"/>
                    <input class="mb-2 text-center login_input" type="password" placeholder="Contraseña"/>      
                    <a class="text-center text-dark mb-3" routerLink="/recovery" href="#">He olvidado mi contraseña</a>
                </div>
                <button routerLink="/inicio" class="login_button btn btn-primary">Entrar usuario</button>
                <!-- <button routerLink="/dashboard-admin" class="login_button btn btn-primary">Entrar admin</button> -->
                <!-- <button routerLink="/receta" class="login_button btn btn-primary">Entrar cocinero</button> -->
            </div>
        </div>
    </div>
</div>