<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col vh-100 d-flex flex-column justify-content-center align-items-center">
            <div class="h-50 d-flex flex-column justify-content-center align-items-center">
                <div class="imagen_gc">
                    <img class="m-3" src="../../assets/logo_gc.svg" alt="">
                </div>
                <div>
                    <p class="mb-1">Introduce tu correo de empresa:</p>
                    <input class="text-center mb-3 login_input" type="email" placeholder="E-mail"/>
                </div>
                <button class="mb-2 btn btn-primary login_button">Enviar</button>
                <a routerLink="/login" class="text-dark" href="#">Cancelar</a>
            </div>
        </div>
    </div>
</div>