<div class="container-fluid user_profile">
    <div class="row banner">
        <div class="col-5 banner_left d-flex justify-content-center align-items-end">
            <div class="mountains row d-flex justify-content-between align-items-end">
                <div class="col-4" style="background-color: yellow;">
                    <div class="left_mountain"></div>
                </div>
                <div class="col-5" style="background-color: green;">
                    <div class="center_mountain"></div>
                </div>
                <div class="col-3" style="background-color: aqua;">
                    <div class="right_mountain"></div>
                </div>
            </div>
        </div>
        <div class="col-2 banner_center h-75 align-self-end d-flex flex-column justify-content-around align-items-center">
            <div class="user_photo">
                <img class="img-fluid h-100" src="../../assets/user.jpg" />
            </div>
            <div class="user_name">
                <h2 class="name"> {{user.nombre}}</h2>
            </div>
            <div class="user_level d-flex justify-content-between align-items-center">
                <h3>Nivel</h3>
                <h3>2</h3>
            </div>
        </div>
        <div class="col-5 banner_right d-flex justify-content-center align-items-end">
            <div class="row d-flex justify-content-center align-items-end">
                <div class="col-5">
                    <div class="left_mountain" style="background-color: blue;"></div>
                </div>
                <div class="col-3">
                    <div class="center_mountain" style="background-color: brown;"></div>
                </div>
                <div class="col-4">
                    <div class="right_mountain" style="background-color: chartreuse;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row titulo">
        <div class="col">
            <h2>Premios</h2>
            <hr>
        </div>
    </div>
    <div class="row vh-100 main" style="background-color: green;">
        <div class="col-lg-8 col-sm-12 prices">
            <div class="row vh-100 d-flex justify-content-around align-items-center">
                <div *ngFor="let price of prices" class="col-lg-4 col-sm-6 price">
                    <app-price-shared [price] = 'price'></app-price-shared>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 points_level">
            <div class="row">
                <div class="col">
                    <h2>Puntos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <h4>Puntos totales</h4>
                </div>
                <div class="col-2">
                    <h4>68</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <h4>Próxima recompensa</h4>
                </div>
                <div class="col-2">
                    <h4>122</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Nivel</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <h4>Nivel actual</h4>
                </div>
                <div class="col-2">
                    <h4>3</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <h4>Próximo nivel</h4>
                </div>
                <div class="col-2">
                    <h4>22 puntos</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>