.title {
    margin-left: 5vw;
}

.navbar {
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px;
}

.custom-width{
    width: 4vw;
    margin-right: 0.5vw;
}

.custom-cont{
    background-image: url(../../../../assets/background4.png);
    border-radius: 10px;
    height: 100%;

}