<div class="container-fluid">
    <div class="row">
        <div class="col-2 p-0">
            <app-sidebar-admin></app-sidebar-admin>
        </div>
        <div class="col-10 content">
            <div class="custom-cont">
                <nav class="navbar navbar-dark bg-dark">
                    <div class="title">
                        <h1 class="h1" style="color: #c7d5e0;">Gestión de Usuarios</h1>
                    </div>
                </nav>
                <div class="container mt-3 full-height d-flex align-items-center">
                    <div class="cont-form col-xl-7 col-lg-11 col-md-11 col-xs-2">
                        <h1>Modificar Usuario</h1>
                        <br /><br />
                        <form (ngSubmit)="updateUser()">
                            <div class="form-group row">
                              <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
                              <div class="parametros col-sm-9">
                                <input type="text" class="form-control" id="inputNombre" [(ngModel)]="modificarUsuario.name" [disabled]="!editNombre" name="inputNombre">
                                <input class="check" type="checkbox" (change)="toggleEditNombre()">
                              </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputSurname" class="col-sm-2 col-form-label">Apellido</label>
                                <div class="parametros col-sm-9">
                                  <input type="text" class="form-control" id="inputApellidos" [(ngModel)]="modificarUsuario.surname" [disabled]="!editApellidos" name="inputSurname">
                                  <input class="check" type="checkbox" (change)="toggleEditApellidos()">
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="parametros col-sm-9">
                                  <input type="text" class="form-control" id="inputEmail" [(ngModel)]="modificarUsuario.email" [disabled]="!editEmail" name="inputEmail">
                                  <input class="check" type="checkbox" (change)="toggleEditEmail()">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="inputPoints" class="col-sm-2 col-form-label">Points</label>
                                <div class="parametros col-sm-9">
                                  <input type="text" class="form-control" id="inputPoints" [(ngModel)]="modificarUsuario.points" [disabled]="!editPoints" name="inputPoints">
                                  <input class="check" type="checkbox" (change)="toggleEditPoints()">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="inputAvatar" class="col-sm-2 col-form-label">Avatar</label>
                                <div class="parametros col-sm-9">
                                  <input type="file" class="custom-file-input" id="fileInput" aria-describedby="fileInput">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-form-label col-sm-2">Rol</label>
                                <div class="parametros col-sm-5">
                                    <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedRoleId" [disabled]="!editRole" name="inputRole">
                                        <option [ngValue]="1">Administrador</option>
                                        <option [ngValue]="2">Usuario</option>
                                        <option [ngValue]="3">Encargado</option>
                                    </select>                                    
                                    <input class="check" type="checkbox" (change)="toggleEditRole()">
                                </div>
                            </div>
                          
                            <div class="form-group row">
                              <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Modificar Usuario</button>
                              </div>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
