.title {
    margin-left: 5vw;
}


.cont-form {
    width: 60vw;
    margin: 0 auto; /* Centra horizontalmente */
}
.form-control {
    width: 450px; /* Ajusta el valor según tus preferencias */
}

.form-group {
    margin-bottom: 2vw;
}
.form-group div input{
    margin-left: 2vw;
}
.campos{
    margin-left: 100px;

}
.parametros{
    display: flex;
}
.check {
    margin-left: none;
}