.recipe{

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.recipes_option{

    border-color: #0052AB;
    color: #0052AB;
}

.recipes_option:active{

    background-color: #0052AB;
}
/*
.recipes_option:hover{

    text-decoration: underline;
}

.recipes_option:active{

    background-color: #0052AB;
} */

.recipes_menu_container{

    height: 20vh;
}

.recipes_dishes{

    height: 80vh;
}