.recipe{

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin: 0.5%;
    border-radius: 10px;
    
}
.recipes_option{

    border-color: #0052AB;
    color: #0052AB;
}

.recipes_option:active{

    background-color: #0052AB;
}
/*
.recipes_option:hover{

    text-decoration: underline;
}

.recipes_option:active{

    background-color: #0052AB;
} */

.recipes_menu_container{

    height: 20vh;
}

.recipes_dishes{

    height: 80vh;
}
.recipe {
    text-shadow: 2px 2px 4px white;
  }
.button-container {
    margin-top: 40%;
    text-align: center;
}
  
.button-container a {
    margin-right: 10px;
}