/* Preguntar qué les parece mejor, que haya marco, o no (mirar app.component, clase user_navbar */
/* .row_user_navbar{

    background-color: #0052AB;
} */

.row_user_navbar{

    border-bottom: 0.2em solid white;

    background-color: #0052AB;
}

.logo_gc{

    height: 10vh;
}

.navbar_options{

    position: absolute;

    z-index: 1;
}

.icon{

    font-size: 2em;
    color: white;
}

.menu_option{

    color: white;

    background-color: #0052AB;
}

.navbar_option{

    height: 6vh;
}

.navbar_logout{

    color: white;
}


@media (max-width: 1400px) {

    .icon_smartphone{

        font-size: 3em;
    }    
    
    .w-xxl-50{

        width: 50%;
    }
}

@media (max-width: 768px) {

    .w-md-100{

        width: 100%;
    }
}