<div class="container-fluid h-100">
    <div class="row h-100 row_user_navbar">
        <div class="col-md-4 col-2 d-flex justify-content-center align-items-center">
            <i class="bi bi-list icon icon_smartphone" (click)="showMenu()"></i>
        </div>
        <div class="col-md-4 col-5 d-flex justify-content-center align-items-center">
            <img src="../../../../assets/logo_gc_navbar.svg" alt="" class="img-fluid m-2 logo_gc">
        </div>
        <div class="col-md-4 col-5 d-flex justify-content-around align-items-center">    
            <i class="bi bi-journal-text icon icon_smartphone"></i>
            <i class="bi bi-cart-check-fill checkout_icon icon icon_smartphone" data-bs-toggle="modal" [attr.data-bs-target]="'#select_hour'">
                <app-hour-selection></app-hour-selection>
            </i>
        </div>
    </div>
    <div *ngIf="menu_hidden" class="row w-25 d-flex flex-column justify-content-around align-items-start navbar_options">
        <div class="col-12 p-0 mb-1 navbar_option">
            <a routerLink="/inicio" class="text-decoration-none">
                <h2 class="h-100 m-0 d-flex justify-content-between align-items-center pe-3 ps-3 menu_option">INICIO<i class="bi bi-house-fill"></i></h2>
            </a>
        </div>
        <div class="col-12 p-0 mb-1 navbar_option">
            <a routerLink="/crear_menu" class="text-decoration-none">
                <h2 class="h-100 w-100 m-0 d-flex justify-content-between align-items-center pe-3 ps-3 menu_option">MENÚ<i class="bi bi-book-fill"></i></h2>
            </a>
        </div>
        <div class="col-12 p-0 mb-1 navbar_option">
            <a routerLink="/perfil" class="text-decoration-none">
                <h2 class="h-100 w-100 m-0 d-flex justify-content-between align-items-center pe-3 ps-3 menu_option">PERFIL<i class="bi bi-tools"></i></h2>
            </a>
        </div>
        <div class="col-12 p-0 mb-1 navbar_option">
            <a routerLink="/login" class="text-decoration-none">
                <h2 class="h-100 w-100 m-0 d-flex justify-content-center align-items-center pe-3 ps-3 menu_option">
                    <i class="bi bi-door-open-fill"></i>
                </h2>
            </a>
        </div>
    </div>
</div>